{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{% set images = product_entity.field_images %}
{% set thumbnail = product_entity.field_thumbnail %}
{% set ratingCount = 0 %}
{% set ratingPercent = 0 %}
{% set ratingNumber = 0 %}
{% set sizes = product_entity.field_product_size %}
{% set colors = product_entity.field_product_color %}
{% set hasImages = images|length %}
{% set contentSpan = 'col-md-12' %}

{% if hasImages %}
{% set contentSpan = 'col-md-6' %}
{% endif %}

<div class="row">
  {% if hasImages %}
    <div class="col-md-6">
      <div class="thumbnails">
        {% for image  in images %}
          <div class="thumbnail">
            {% if thumbnail.entity.fileuri %}
              <img alt="" class="img-responsive" src="{{ file_url(image.entity.fileuri) }}">
            {% else %}
              <img alt="" class="img-responsive" src="http://fillmurray.com/800x800">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="{{ contentSpan }}">
    <div class="summary product-summary">
      <h1>{{ product.title }}</h1>
      <p class="price">
        <span class="amount">{{ product.variation_price|render|striptags }}</span>
      </p>
      <p class="taller">{{ product_entity.body.summary|striptags}}</p>
      {{ product.variations }}
      {% if product.field_category|length %}
        <span class="product-categories-wrapper">
          <span class="hidden">Categories:</span>
          <span class="product_categories">
            {{ product.field_category|render }}
          </span>
        </span>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tabs tabs-product">
      <h2>
        Description
      </h2>
      <div class="product-description">
        {{ product.body }}
      </div>
    </div>
  </div>
</div>
